/* color palette from <https://github.com/vuejs/theme> */

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
  margin: 0;
  padding: 0;
}
